body {
  margin: 0;
  padding: 24px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  padding-top: 40px;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}
.form-input {
  display: block;
  width: 272px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: border-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  padding: 8px 16px;
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.form-input:hover {
  border-color: #000;
}
.form-input:focus {
  border-color: #4e75ff;
}

.form-btn {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.form-btn:hover {
  background-color: #6c8cff;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 24px;
  padding: 0;
}

.gallery-item {
  border: 1px solid #2e2f42;

  width: 360px;
  margin: 0;
  padding: 0;
  transition: transform 250ms linear;
  list-style-type: none;
}
.gallery-item a {
  text-decoration: none;
  color: #2e2f42;
}

.gallery-item:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.statictics {
  display: flex;
  height: 48px;
  justify-content: space-around;
  padding: 0 8px;
}

.statictics-text {
  text-align: center;
}

.statictics-text h3 {
  margin: 0;
}

.statictics-text p {
  margin: 0;
}
/* LOADER */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  /* margin: 0 auto; */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
